/* Light Mode Styles */
.employee-management-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.employee-management-title {
  color: #333;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.btn-add-employee, .btn-search, .btn-logout {
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-bottom: 10px; 
  margin-right: 10px;
}

.btn-add-employee:hover, .btn-search:hover, .btn-logout:hover {
  background-color: blue;
}

.table-employee {
  background-color: #fff;
}

.table-employee tbody tr:hover {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.input-search {
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  height: fit-content;
}

.input-search:focus {
  border-color: orange;
  outline: none;
}

.btn-search {
  border-radius: 0 5px 5px 0; 
  height: fit-content;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .employee-management-container {
  background-color: #333333;
  border-color: #444444;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

body.dark-mode .employee-management-title {
  color: #ffffff;
}

body.dark-mode .btn-add-employee, 
body.dark-mode .btn-search, 
body.dark-mode .btn-logout {
  background-color: #555555;
  color: #ffffff;
}

body.dark-mode .btn-add-employee:hover, 
body.dark-mode .btn-search:hover, 
body.dark-mode .btn-logout:hover {
  background-color: #666666;
}

body.dark-mode .table-employee {
  background-color: #444444;
}

body.dark-mode .table-employee tbody tr:hover {
  background-color: #555555;
}

body.dark-mode .pagination {
  color: #ffffff;
}

body.dark-mode .input-search {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

body.dark-mode .input-search:focus {
  border-color: orange;
}

body.dark-mode .btn-search {
  background-color: #555555;
  border: 1px solid #555555;
}

body.dark-mode .btn-search:hover {
  background-color: #666666;
}
